#mylabel{
    display: block;
    text-align: center;
    font-family: Helvetica;
    font-size: 10em;
}
.btncontainer{
    text-align: center;
}
.button{
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: hsl(214, 100%, 74%);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
